In [41]:
import dash
from dash import html, dcc, dash_table, callback_context
import plotly.graph_objects as go
import dash_trich_components as dtc
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc
import plotly.express as px
import json
import pandas as pd
from pandas_ta import bbands
import pandas_datareader as web
import numpy as np
import datetime as dt
from scipy.stats import pearsonr
import yfinance as yf
from yahoo_fin import stock_info as si
import pandas as pd
import glob
import os
from pathlib import Path
import re

## Webscrape

In [42]:
spxurl = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
spx_table = pd.read_html(spxurl)
spx_table = spx_table[0]
spx_table = spx_table.rename(columns={'Symbol':'Ticker'})
spx_table.head()
# tickers = spx_table[0]['Symbol'].tolist()

,Ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [43]:
folder = '/home/creeg/projects/equities/equities/tickers'
path = folder+"/**/*.csv"
csv_paths = glob.glob(path, recursive=True)
dfs = [pd.read_csv(csv_path) for csv_path in csv_paths]
temp_df = pd.concat([pd.read_csv(fp).assign(Ticker=os.path.basename(fp).split('.')[0]) 
       for fp in csv_paths])

temp_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Unnamed: 0,ticker,px_last,score,pe_ratio,peg_ratio,sma_150d,sma_200d,52week_low,52week_high
0,2022-06-01,4149.779785,4166.540039,4073.850098,4101.229980,4101.229980,4.531800e+09,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-02,4095.409912,4177.509766,4074.370117,4176.819824,4176.819824,4.405790e+09,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-03,4137.569824,4142.669922,4098.669922,4108.540039,4108.540039,3.711110e+09,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-06,4134.720215,4168.779785,4109.180176,4121.430176,4121.430176,4.332700e+09,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-07,4096.470215,4164.859863,4080.189941,4160.680176,4160.680176,4.248210e+09,AMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
count = 0
# Iterate directory
for path in os.listdir(folder):
    # check if current path is a file
    if os.path.isfile(os.path.join(folder, path)):
        count += 1
print('File count:', count)

File count: 0

In [45]:
temp_df = temp_df.merge(spx_table, on='Ticker', how='left')
temp_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Unnamed: 0,ticker,...,sma_200d,52week_low,52week_high,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,2022-06-01,4149.779785,4166.540039,4073.850098,4101.229980,4101.229980,4.531800e+09,AMD,NaN,NaN,...,NaN,NaN,NaN,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969
1,2022-06-02,4095.409912,4177.509766,4074.370117,4176.819824,4176.819824,4.405790e+09,AMD,NaN,NaN,...,NaN,NaN,NaN,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969
2,2022-06-03,4137.569824,4142.669922,4098.669922,4108.540039,4108.540039,3.711110e+09,AMD,NaN,NaN,...,NaN,NaN,NaN,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969
3,2022-06-06,4134.720215,4168.779785,4109.180176,4121.430176,4121.430176,4.332700e+09,AMD,NaN,NaN,...,NaN,NaN,NaN,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969
4,2022-06-07,4096.470215,4164.859863,4080.189941,4160.680176,4160.680176,4.248210e+09,AMD,NaN,NaN,...,NaN,NaN,NaN,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969

In [46]:
cols = temp_df.columns.tolist()
cols

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Adj Close',
 'Volume',
 'Ticker',
 'Unnamed: 0',
 'ticker',
 'px_last',
 'score',
 'pe_ratio',
 'peg_ratio',
 'sma_150d',
 'sma_200d',
 '52week_low',
 '52week_high',
 'Security',
 'GICS Sector',
 'GICS Sub-Industry',
 'Headquarters Location',
 'Date added',
 'CIK',
 'Founded']

In [47]:
cols_ordered = [ 'Ticker'
        ,'Security'
        ,'GICS Sector'
        ,'GICS Sub-Industry'
        ,'Headquarters Location'
        ,'Date added'
        ,'CIK'
        ,'Founded'
        ,'Date'
        ,'Open'
        ,'High'
        ,'Low'
        ,'Close'
        ,'Adj Close'
        ,'Volume'
        ]

temp_df = temp_df[cols_ordered]
temp_df.tail()

,Ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,Date,Open,High,Low,Close,Adj Close,Volume
126248,CTVA,Corteva,Materials,Fertilizers & Agricultural Chemicals,"Indianapolis, Indiana",2019-06-03,1755672.0,2019,2023-05-24,4132.959961,4132.959961,4103.979980,4115.240234,4115.240234,3.739160e+09
126249,CTVA,Corteva,Materials,Fertilizers & Agricultural Chemicals,"Indianapolis, Indiana",2019-06-03,1755672.0,2019,2023-05-25,4155.709961,4165.740234,4129.729980,4151.279785,4151.279785,4.147760e+09
126250,CTVA,Corteva,Materials,Fertilizers & Agricultural Chemicals,"Indianapolis, Indiana",2019-06-03,1755672.0,2019,2023-05-26,4156.160156,4212.870117,4156.160156,4205.450195,4205.450195,3.715460e+09
126251,CTVA,Corteva,Materials,Fertilizers & Agricultural Chemicals,"Indianapolis, Indiana",2019-06-03,1755672.0,2019,2023-05-30,4226.709961,4231.100098,4192.180176,4205.520020,4205.520020,4.228510e+09
126252,CTVA,Corteva,Materials,Fertilizers & Agricultural Chemicals,"Indianapolis, Indiana",2019-06-03,1755672.0,2019,2023-05-31,4190.740234,4195.439941,4166.149902,4179.830078,4179.830078,5.980670e+09

## Data Cleaning

In [48]:
temp_df.dtypes

Ticker                    object
Security                  object
GICS Sector               object
GICS Sub-Industry         object
Headquarters Location     object
Date added                object
CIK                      float64
Founded                   object
Date                      object
Open                     float64
High                     float64
Low                      float64
Close                    float64
Adj Close                float64
Volume                   float64
dtype: object

In [49]:
temp_df['Date'] = temp_df['Date'].apply(pd.to_datetime)

In [50]:
date_range = str(temp_df['Date'].dt.date.min()) + ' to ' + str(temp_df['Date'].dt.date.max())
date_range

'2022-06-01 to 2023-05-31'

In [51]:
temp_df.columns

Index(['Ticker', 'Security', 'GICS Sector', 'GICS Sub-Industry',
       'Headquarters Location', 'Date added', 'CIK', 'Founded', 'Date', 'Open',
       'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype='object')

In [52]:
temp_df['pct_change'] = temp_df.groupby(['Ticker'])['Adj Close'].pct_change(-1)

In [53]:
# tickers = si.tickers_sp500()
tickers = temp_df['Ticker'].unique()
tickers = tickers.tolist()
start = str(temp_df['Date'].dt.date.min())
end = str(temp_df['Date'].dt.date.max())

spx_df = yf.download(tickers=['^GSPC'], start=start, end=end)
spx_df['pct_change'] = spx_df['Adj Close'].pct_change()
spx_return = (spx_df['pct_change'] + 1).cumprod()[-1]

[*********************100%***********************]  1 of 1 completed

In [54]:
spx_return

1.025428966324531

In [55]:
spx_df.rename(columns={'pct_change':'spx_pct_chg'},inplace=True)

In [56]:
spx_df['Date'] = spx_df.index
spx_df_trunc = spx_df[['Date','spx_pct_chg']]
spx_df_trunc = spx_df_trunc.reset_index(drop=True)

In [57]:
temp_df = temp_df.merge(spx_df_trunc, on='Date', how='left')
temp_df.head()

,Ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,Date,Open,High,Low,Close,Adj Close,Volume,pct_change,spx_pct_chg
0,AMD,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969,2022-06-01,4149.779785,4166.540039,4073.850098,4101.229980,4101.229980,4.531800e+09,-0.018097,NaN
1,AMD,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969,2022-06-02,4095.409912,4177.509766,4074.370117,4176.819824,4176.819824,4.405790e+09,0.016619,0.018431
2,AMD,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969,2022-06-03,4137.569824,4142.669922,4098.669922,4108.540039,4108.540039,3.711110e+09,-0.003128,-0.016347
3,AMD,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969,2022-06-06,4134.720215,4168.779785,4109.180176,4121.430176,4121.430176,4.332700e+09,-0.009434,0.003137
4,AMD,AMD,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488.0,1969,2022-06-07,4096.470215,4164.859863,4080.189941,4160.680176,4160.680176,4.248210e+09,0.010912,0.009523

In [58]:
temp_df.columns

Index(['Ticker', 'Security', 'GICS Sector', 'GICS Sub-Industry',
       'Headquarters Location', 'Date added', 'CIK', 'Founded', 'Date', 'Open',
       'High', 'Low', 'Close', 'Adj Close', 'Volume', 'pct_change',
       'spx_pct_chg'],
      dtype='object')

In [59]:
temp_df['pct_chg_vs_spx'] = temp_df['pct_change'] - temp_df['spx_pct_chg']

In [60]:
spx_return

1.025428966324531

In [61]:
temp_df.isna().sum()

Ticker                      0
Security                 1004
GICS Sector              1004
GICS Sub-Industry        1004
Headquarters Location    1004
Date added               3514
CIK                      1004
Founded                  1004
Date                        0
Open                        0
High                        0
Low                         0
Close                       0
Adj Close                   0
Volume                      0
pct_change                503
spx_pct_chg              1006
pct_chg_vs_spx           1006
dtype: int64

In [62]:
nan_values = temp_df[temp_df['pct_change'].isna()]
print(nan_values)

       Ticker                   Security             GICS Sector  \
250       AMD                        AMD  Information Technology
501       AON                        Aon              Financials
752       ICE  Intercontinental Exchange              Financials
1003      XOM                 ExxonMobil                  Energy
1254      LYV  Live Nation Entertainment  Communication Services
...       ...                        ...                     ...
125248   AXON            Axon Enterprise             Industrials
125499   STLD             Steel Dynamics               Materials
125750    EIX       Edison International               Utilities
126001   NVDA                     Nvidia  Information Technology
126252   CTVA                    Corteva               Materials

                           GICS Sub-Industry      Headquarters Location  \
250                           Semiconductors    Santa Clara, California
501                        Insurance Brokers                 London, UK
752               Financial Exchanges & Data           Atlanta, Georgia
1003                    Integrated Oil & Gas              Irving, Texas
1254                  Movies & Entertainment  Beverly Hills, California
...                                      ...                        ...
125248                   Aerospace & Defense        Scottsdale, Arizona
125499                                 Steel        Fort Wayne, Indiana
125750                    Electric Utilities       Rosemead, California
126001                        Semiconductors    Santa Clara, California
126252  Fertilizers & Agricultural Chemicals      Indianapolis, Indiana

        Date added        CIK      Founded       Date         Open  \
250     2017-03-20     2488.0         1969 2023-05-31  4190.740234
501     1996-04-23   315293.0  1982 (1919) 2023-05-31  4190.740234
752     2007-09-26  1571949.0         2000 2023-05-31  4190.740234
1003    1957-03-04    34088.0         1999 2023-05-31  4190.740234
1254    2019-12-23  1335258.0         2010 2023-05-31  4190.740234
...            ...        ...          ...        ...          ...
125248  2023-05-04  1069183.0         1993 2023-05-31  4190.740234
125499  2022-12-22  1022671.0         1993 2023-05-31  4190.740234
125750  1957-03-04   827052.0         1886 2023-05-31  4190.740234
126001  2001-11-30  1045810.0         1993 2023-05-31  4190.740234
126252  2019-06-03  1755672.0         2019 2023-05-31  4190.740234

               High          Low        Close    Adj Close        Volume  \
250     4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
501     4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
752     4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
1003    4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
1254    4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
...             ...          ...          ...          ...           ...
125248  4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
125499  4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
125750  4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
126001  4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09
126252  4195.439941  4166.149902  4179.830078  4179.830078  5.980670e+09

        pct_change  spx_pct_chg  pct_chg_vs_spx
250            NaN          NaN             NaN
501            NaN          NaN             NaN
752            NaN          NaN             NaN
1003           NaN          NaN             NaN
1254           NaN          NaN             NaN
...            ...          ...             ...
125248         NaN          NaN             NaN
125499         NaN          NaN             NaN
125750         NaN          NaN             NaN
126001         NaN          NaN             NaN
126252         NaN          NaN             NaN

[503 rows x 18 columns]

In [63]:
nan_values['Date'].nunique()

1

In [64]:
temp_df[['pct_change','spx_pct_chg','pct_chg_vs_spx']] = temp_df[['pct_change','spx_pct_chg','pct_chg_vs_spx']].fillna(0)

In [65]:
temp_df.isna().sum()

Ticker                      0
Security                 1004
GICS Sector              1004
GICS Sub-Industry        1004
Headquarters Location    1004
Date added               3514
CIK                      1004
Founded                  1004
Date                        0
Open                        0
High                        0
Low                         0
Close                       0
Adj Close                   0
Volume                      0
pct_change                  0
spx_pct_chg                 0
pct_chg_vs_spx              0
dtype: int64

In [66]:
nan_values = temp_df[temp_df['Security'].isna()]
nan_values['Ticker'].unique()

array(['FISV', 'BRK-B', 'BF-B', 'DISH'], dtype=object)

In [67]:
temp_df['GICS Sector'].unique()

array(['Information Technology', 'Financials', 'Energy',
       'Communication Services', 'Materials', 'Consumer Discretionary',
       'Industrials', 'Health Care', 'Consumer Staples', nan,
       'Real Estate', 'Utilities'], dtype=object)

In [68]:
temp_df['GICS Sub-Industry'].unique()

array(['Semiconductors', 'Insurance Brokers',
       'Financial Exchanges & Data', 'Integrated Oil & Gas',
       'Movies & Entertainment', 'Metal, Glass & Plastic Containers',
       'Advertising', 'Internet & Direct Marketing Retail',
       'Paper & Plastic Packaging Products & Materials',
       'Construction Machinery & Heavy Transportation Equipment',
       'Oil & Gas Storage & Transportation', 'Consumer Finance',
       'Pharmaceuticals', 'Consumer Staples Merchandise Retail', nan,
       'Internet Services & Infrastructure', 'Health Care Equipment',
       'Interactive Home Entertainment', 'Apparel Retail',
       'Specialty Chemicals', 'Systems Software',
       'Diversified Support Services', 'Health Care REITs',
       'Aerospace & Defense',
       'Industrial Machinery & Supplies & Components', 'Reinsurance',
       'Electric Utilities', 'Electronic Equipment & Instruments',
       'Publishing', 'Managed Health Care', 'Industrial Conglomerates',
       'Technology Hardware, Storage & Peripherals', 'Residential REITs',
       'Diversified Banks', 'Broadcasting',
       'Asset Management & Custody Banks', 'Retail REITs', 'Tobacco',
       'Application Software', 'Semiconductor Materials & Equipment',
       'Telecom Tower REITs', 'Agricultural Products & Services',
       'Building Products', 'Timber REITs',
       'Oil & Gas Refining & Marketing', 'Other Specialized REITs',
       'Homebuilding', 'Packaged Foods & Meats', 'Data Center REITs',
       'Electrical Components & Equipment', 'Specialty Stores',
       'Multi-Utilities', 'Rail Transportation',
       'Soft Drinks & Non-alcoholic Beverages', 'Cable & Satellite',
       'IT Consulting & Other Services', 'Household Products',
       'Restaurants', 'Leisure Products',
       'Investment Banking & Brokerage', 'Cargo Ground Transportation',
       'Communications Equipment', 'Steel', 'Life & Health Insurance',
       'Regional Banks', 'Casinos & Gaming',
       'Oil & Gas Exploration & Production',
       'Apparel, Accessories & Luxury Goods', 'Automobile Manufacturers',
       'Integrated Telecommunication Services', 'Distributors',
       'Industrial Gases', 'Electronic Components',
       'Health Care Services', 'Property & Casualty Insurance',
       'Home Improvement Retail', 'Interactive Media & Services',
       'Electronic Manufacturing Services', 'Technology Distributors',
       'Air Freight & Logistics',
       'Transaction & Payment Processing Services',
       'Wireless Telecommunication Services', 'Hotel & Resort REITs',
       'Health Care Supplies', 'Diversified Chemicals', 'Biotechnology',
       'Personal Care Products', 'Health Care Facilities',
       'Passenger Airlines', 'Brewers',
       'Independent Power Producers & Energy Traders', 'Food Retail',
       'Human Resource & Employment Services', 'Gold',
       'Construction & Engineering', 'Health Care Distributors',
       'Life Sciences Tools & Services', 'Copper',
       'Hotels, Resorts & Cruise Lines', 'Health Care Technology',
       'Self-Storage REITs', 'Computer & Electronics Retail',
       'Industrial REITs', 'Commodity Chemicals', 'Consumer Electronics',
       'Multi-line Insurance', 'Fertilizers & Agricultural Chemicals',
       'Automotive Parts & Equipment', 'Water Utilities',
       'Real Estate Services', 'Research & Consulting Services',
       'Environmental & Facilities Services', 'Housewares & Specialties',
       'Data Processing & Outsourced Services', 'Food Distributors',
       'Drug Retail', 'Automotive Retail', 'Office REITs',
       'Construction Materials', 'Household Appliances', 'Gas Utilities',
       'Trading Companies & Distributors',
       'Oil & Gas Equipment & Services', 'Home Furnishings',
       'Distillers & Vintners', 'Agricultural & Farm Machinery'],
      dtype=object)

In [69]:
gics = temp_df.groupby('GICS Sector')['GICS Sub-Industry'].apply(list).to_dict()

gics.keys()

dict_keys(['Communication Services', 'Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', 'Health Care', 'Industrials', 'Information Technology', 'Materials', 'Real Estate', 'Utilities'])

In [70]:
list_industry = []

for key, value in gics.items():
    # if key in ['Financials', 'Information Technology', 'Communication Services','Consumer Staples']:
     if key in ['Financials']:
        # print(value).unique()
        list_industry.append(value)

set(list_industry[0])

{'Asset Management & Custody Banks',
 'Consumer Finance',
 'Diversified Banks',
 'Financial Exchanges & Data',
 'Insurance Brokers',
 'Investment Banking & Brokerage',
 'Life & Health Insurance',
 'Multi-line Insurance',
 'Property & Casualty Insurance',
 'Regional Banks',
 'Reinsurance',
 'Transaction & Payment Processing Services'}

In [71]:
temp_df[temp_df['Ticker'].str.contains('BRK')]

,Ticker,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded,Date,Open,High,Low,Close,Adj Close,Volume,pct_change,spx_pct_chg,pct_chg_vs_spx
52710,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-01,4149.779785,4166.540039,4073.850098,4101.229980,4101.229980,4.531800e+09,-0.018097,0.000000,0.000000
52711,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-02,4095.409912,4177.509766,4074.370117,4176.819824,4176.819824,4.405790e+09,0.016619,0.018431,-0.001812
52712,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-03,4137.569824,4142.669922,4098.669922,4108.540039,4108.540039,3.711110e+09,-0.003128,-0.016347,0.013220
52713,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-06,4134.720215,4168.779785,4109.180176,4121.430176,4121.430176,4.332700e+09,-0.009434,0.003137,-0.012571
52714,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06-07,4096.470215,4164.859863,4080.189941,4160.680176,4160.680176,4.248210e+09,0.010912,0.009523,0.001388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52956,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-24,4132.959961,4132.959961,4103.979980,4115.240234,4115.240234,3.739160e+09,-0.008682,-0.007319,-0.001363
52957,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-25,4155.709961,4165.740234,4129.729980,4151.279785,4151.279785,4.147760e+09,-0.012881,0.008758,-0.021639
52958,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-26,4156.160156,4212.870117,4156.160156,4205.450195,4205.450195,3.715460e+09,-0.000017,0.013049,-0.013066
52959,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-30,4226.709961,4231.100098,4192.180176,4205.520020,4205.520020,4.228510e+09,0.006146,0.000017,0.006130
52960,BRK-B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-31,4190.740234,4195.439941,4166.149902,4179.830078,4179.830078,5.980670e+09,0.000000,0.000000,0.000000

In [72]:
# 'FISV', 'BRK-B', 'BF-B', 'DISH'

nan_values_dict_sector = {'FISV': 'Information Technology'
                   ,'BRK-B': 'Financials'
                   ,'BF-B': 'Consumer Staples'
                   ,'DISH': 'Communication Services'
                   }

nan_values_dict_industry = {'FISV': 'Application Software'
                   ,'BRK-B': 'Multi-line Insurance'
                   ,'BF-B': 'Distillers & Vintners'
                   ,'DISH': 'Cable & Satellite'
                   }

nan_values_dict_security = {'FISV': 'Fiserv'
                   ,'BRK-B': 'Berkshire Hathaway Class B'
                   ,'BF-B': 'Brown-Forman Class B'
                   ,'DISH': 'DISH Network Corp'
                   }

In [73]:
temp_df['GICS Sector'] = temp_df['GICS Sector'].fillna(temp_df['Ticker'].map(nan_values_dict_sector))
temp_df['GICS Sub-Industry'] = temp_df['GICS Sub-Industry'].fillna(temp_df['Ticker'].map(nan_values_dict_industry))
temp_df['Security'] = temp_df['Security'].fillna(temp_df['Ticker'].map(nan_values_dict_security))

In [74]:
temp_df = temp_df.drop(['Headquarters Location','Date added','CIK','Founded'],axis=1)

In [75]:
temp_df.isna().sum()

Ticker               0
Security             0
GICS Sector          0
GICS Sub-Industry    0
Date                 0
Open                 0
High                 0
Low                  0
Close                0
Adj Close            0
Volume               0
pct_change           0
spx_pct_chg          0
pct_chg_vs_spx       0
dtype: int64

In [78]:
temp_df.to_csv('temp_df.csv', index=False)

In [125]:
# temp_words = temp_df[['Ticker','Security']].values
temp_words = temp_df[['Security']].values
words = np.unique(temp_words)
words.shape

(503,)

In [126]:
text_df = pd.DataFrame(words, columns=['word'])
text_df.head()

              word
0               3M
1      A. O. Smith
2              ADM
3              ADP
4  AES Corporation

In [127]:
text_df.to_csv('text_df.csv',index=False)

In [128]:
f = open('text_df.csv', 'r')
search = f.read().splitlines()
f.close()

In [129]:
del search[0]
search = pd.DataFrame

['3M',
 'A. O. Smith',
 'ADM',
 'ADP',
 'AES Corporation',
 'AMD',
 'APA Corporation',
 'AT&T',
 'AbbVie',
 'Abbott',
 'Accenture',
 'Activision Blizzard',
 'Adobe Inc.',
 'Advance Auto Parts',
 'Aflac',
 'Agilent Technologies',
 'Air Products and Chemicals',
 'Akamai',
 'Alaska Air Group',
 'Albemarle Corporation',
 'Alexandria Real Estate Equities',
 'Align Technology',
 'Allegion',
 'Alliant Energy',
 'Allstate',
 'Alphabet Inc. (Class A)',
 'Alphabet Inc. (Class C)',
 'Altria',
 'Amazon',
 'Amcor',
 'Ameren',
 'American Airlines Group',
 'American Electric Power',
 'American Express',
 'American International Group',
 'American Tower',
 'American Water Works',
 'Ameriprise Financial',
 'AmerisourceBergen',
 'Ametek',
 'Amgen',
 'Amphenol',
 'Analog Devices',
 'Ansys',
 'Aon',
 'Apple Inc.',
 'Applied Materials',
 'Aptiv',
 'Arch Capital Group',
 'Arista Networks',
 'Arthur J. Gallagher & Co.',
 'Assurant',
 'Atmos Energy',
 'AutoZone',
 'Autodesk',
 'AvalonBay Communities',
 'Avery Dennison',
 'Axon Enterprise',
 'BNY Mellon',
 'Baker Hughes',
 'Ball Corporation',
 'Bank of America',
 '"Bath & Body Works, Inc."',
 'Baxter International',
 'Becton Dickinson',
 'Berkley',
 'Berkshire Hathaway Class B',
 'Best Buy',
 'Bio-Rad',
 'Bio-Techne',
 'Biogen',
 'BlackRock',
 'Boeing',
 'Booking Holdings',
 'BorgWarner',
 'Boston Properties',
 'Boston Scientific',
 'Bristol Myers Squibb',
 'Broadcom Inc.',
 'Broadridge Financial Solutions',
 'Brown & Brown',
 'Brown-Forman Class B',
 'Bunge Limited',
 'C.H. Robinson',
 'CBRE Group',
 'CDW',
 'CF Industries',
 'CME Group',
 'CMS Energy',
 'CSX',
 'CVS Health',
 'Cadence Design Systems',
 'Caesars Entertainment',
 'Camden Property Trust',
 'Campbell Soup Company',
 'Capital One',
 'CarMax',
 'Cardinal Health',
 'Carnival',
 'Carrier Global',
 'Catalent',
 'Caterpillar Inc.',
 'Cboe Global Markets',
 'Celanese',
 'Centene Corporation',
 'CenterPoint Energy',
 'Ceridian',
 'Charles River Laboratories',
 'Charles Schwab Corporation',
 'Charter Communications',
 'Chevron Corporation',
 'Chipotle Mexican Grill',
 'Chubb Limited',
 'Church & Dwight',
 'Cigna',
 'Cincinnati Financial',
 'Cintas',
 'Cisco',
 'Citigroup',
 'Citizens Financial Group',
 'Clorox',
 'CoStar Group',
 'Coca-Cola Company (The)',
 'Cognizant',
 'Colgate-Palmolive',
 'Comcast',
 'Comerica',
 'Conagra Brands',
 'ConocoPhillips',
 'Consolidated Edison',
 'Constellation Brands',
 'Constellation Energy',
 'CooperCompanies',
 'Copart',
 'Corning Inc.',
 'Corteva',
 'Costco',
 'Coterra',
 'Crown Castle',
 'Cummins',
 'D.R. Horton',
 'DISH Network Corp',
 'DTE Energy',
 'DXC Technology',
 'DaVita Inc.',
 'Danaher Corporation',
 'Darden Restaurants',
 'Delta Air Lines',
 'Dentsply Sirona',
 'Devon Energy',
 'Dexcom',
 'Diamondback Energy',
 'Digital Realty',
 'Discover Financial',
 'Disney',
 'Dollar General',
 'Dollar Tree',
 'Dominion Energy',
 "Domino's",
 'Dover Corporation',
 'Dow Inc.',
 'DuPont',
 'Duke Energy',
 'EOG Resources',
 'EPAM Systems',
 'EQT',
 'Eastman Chemical Company',
 'Eaton Corporation',
 'Ecolab',
 'Edison International',
 'Edwards Lifesciences',
 'Electronic Arts',
 'Elevance Health',
 'Eli Lilly and Company',
 'Emerson Electric',
 'Enphase',
 'Entergy',
 'Equifax',
 'Equinix',
 'Equity Residential',
 'Essex Property Trust',
 'EstÃ©e Lauder Companies (The)',
 'Etsy',
 'Everest Re',
 'Evergy',
 'Eversource',
 'Exelon',
 'Expedia Group',
 'Expeditors International',
 'Extra Space Storage',
 'ExxonMobil',
 '"F5, Inc."',
 'FIS',
 'FMC Corporation',
 'FactSet',
 'Fair Isaac',
 'Fastenal',
 'FedEx',
 'Federal Realty',
 'Fifth Third Bank',
 'First Solar',
 'FirstEnergy',
 'Fiserv',
 'Fleetcor',
 'Ford Motor Company',
 'Fortinet',
 'Fortive',
 'Fox Corporation (Class A)',
 'Fox Corporation (Class B)',
 'Franklin Templeton',
 'Freeport-McMoRan',
 'GE HealthCare',
 'Garmin',
 'Gartner',
 'Gen Digital',
 'Generac',
 'General Dynamics',
 'General Electric',
 'General Mills',
 'General Motors',
 'Genuine Parts Company',
 'Gilead Sciences',
 'Global Payments',
 'Globe Life',
 'Goldman Sachs',
 'HCA Healthcare',
 'HP Inc.',
 'Halliburton',
 'Hartford (The)',
 'Hasbro',
 'Healthpeak',
 'Henry Schein',
 "Hershey's",
 'Hess Corporation',
 'Hewlett Packard Enterprise',
 'Hilton Worldwide',
 'Hologic',
 'Home Depot (The)',
 'Honeywell',
 'Hormel Foods',
 'Host Hotels & Resorts',
 'Howmet Aerospace',
 'Humana',
 'Huntington Bancshares',
 'Huntington Ingalls Industries',
 'IBM',
 'IDEX Corporation',
 'IQVIA',
 'Idexx Laboratories',
 'Illinois Tool Works',
 'Illumina',
 'Incyte',
 'Ingersoll Rand',
 'Insulet',
 'Intel',
 'Intercontinental Exchange',
 'International Flavors & Fragrances',
 'International Paper',
 'Interpublic Group of Companies (The)',
 'Intuit',
 'Intuitive Surgical',
 'Invesco',
 'Invitation Homes',
 'Iron Mountain',
 'J.B. Hunt',
 'J.M. Smucker Company (The)',
 'JPMorgan Chase',
 'Jack Henry & Associates',
 'Jacobs Solutions',
 'John Deere',
 'Johnson & Johnson',
 'Johnson Controls',
 'Juniper Networks',
 'KLA Corporation',
 "Kellogg's",
 'Keurig Dr Pepper',
 'KeyCorp',
 'Keysight',
 'Kimberly-Clark',
 'Kimco Realty',
 'Kinder Morgan',
 'Kraft Heinz',
 'Kroger',
 'L3Harris',
 'LKQ Corporation',
 'LabCorp',
 'Lam Research',
 'Lamb Weston',
 'Las Vegas Sands',
 'Leidos',
 'Lennar',
 'Lincoln Financial',
 'Linde plc',
 'Live Nation Entertainment',
 'Lockheed Martin',
 'Loews Corporation',
 "Lowe's",
 'LyondellBasell',
 'M&T Bank',
 'MGM Resorts',
 'MSCI',
 'Marathon Oil',
 'Marathon Petroleum',
 'MarketAxess',
 'Marriott International',
 'Marsh McLennan',
 'Martin Marietta Materials',
 'Masco',
 'Mastercard',
 'Match Group',
 'McCormick & Company',
 "McDonald's",
 'McKesson',
 'Medtronic',
 'Merck & Co.',
 'MetLife',
 'Meta Platforms',
 'Mettler Toledo',
 'Microchip Technology',
 'Micron Technology',
 'Microsoft',
 'Mid-America Apartment Communities',
 'Moderna',
 'Mohawk Industries',
 'Molina Healthcare',
 'Molson Coors Beverage Company',
 'Mondelez International',
 'Monolithic Power Systems',
 'Monster Beverage',
 "Moody's Corporation",
 'Morgan Stanley',
 'Mosaic Company (The)',
 'Motorola Solutions',
 'NRG Energy',
 '"NVR, Inc."',
 'NXP Semiconductors',
 '"Nasdaq, Inc."',
 'NetApp',
 'Netflix',
 'Newell Brands',
 'Newmont',
 'News Corp (Class A)',
 'News Corp (Class B)',
 'NextEra Energy',
 'NiSource',
 '"Nike, Inc."',
 'Nordson Corporation',
 'Norfolk Southern Railway',
 'Northern Trust',
 'Northrop Grumman',
 'Norwegian Cruise Line Holdings',
 'Nucor',
 'Nvidia',
 "O'Reilly Auto Parts",
 'ON Semiconductor',
 'ONEOK',
 'Occidental Petroleum',
 'Old Dominion',
 'Omnicom Group',
 'Oracle Corporation',
 'Organon & Co.',
 'Otis Worldwide',
 'PG&E Corporation',
 'PNC Financial Services',
 'PPG Industries',
 'PPL Corporation',
 'PTC',
 'Paccar',
 'Packaging Corporation of America',
 'Paramount Global',
 'Parker Hannifin',
 'PayPal',
 'Paychex',
 'Paycom',
 'Pentair',
 'PepsiCo',
 'Pfizer',
 'Philip Morris International',
 'Phillips 66',
 'Pinnacle West',
 'Pioneer Natural Resources',
 'Pool Corporation',
 'Principal Financial Group',
 'Procter & Gamble',
 'Progressive Corporation',
 'Prologis',
 'Prudential Financial',
 'Public Service Enterprise Group',
 'Public Storage',
 'PulteGroup',
 'Qorvo',
 'Qualcomm',
 'Quanta Services',
 'Quest Diagnostics',
 'Ralph Lauren Corporation',
 'Raymond James',
 'Raytheon Technologies',
 'Realty Income',
 'Regency Centers',
 'Regeneron',
 'Regions Financial Corporation',
 'Republic Services',
 'ResMed',
 'Revvity',
 'Robert Half',
 'Rockwell Automation',
 '"Rollins, Inc."',
 'Roper Technologies',
 'Ross Stores',
 'Royal Caribbean Group',
 'S&P Global',
 'SBA Communications',
 'Salesforce',
 'Schlumberger',
 'Seagate Technology',
 'Sealed Air',
 'Sempra Energy',
 'ServiceNow',
 'Sherwin-Williams',
 'Simon Property Group',
 'Skyworks Solutions',
 'Snap-on',
 'SolarEdge',
 'Southern Company',
 'Southwest Airlines',
 'Stanley Black & Decker',
 'Starbucks',
 'State Street Corporation',
 'Steel Dynamics',
 'Steris',
 'Stryker Corporation',
 'Synchrony Financial',
 'Synopsys',
 'Sysco',
 'T-Mobile US',
 'T. Rowe Price',
 'TE Connectivity',
 'TJX Companies',
 'Take-Two Interactive',
 '"Tapestry, Inc."',
 'Targa Resources',
 'Target Corporation',
 'Teledyne Technologies',
 'Teleflex',
 'Teradyne',
 '"Tesla, Inc."',
 'Texas Instruments',
 'Textron',
 'Thermo Fisher Scientific',
 'Tractor Supply',
 'Trane Technologies',
 'TransDigm Group',
 'Travelers Companies (The)',
 'Trimble Inc.',
 'Truist',
 'Tyler Technologies',
 'Tyson Foods',
 'U.S. Bank',
 '"UDR, Inc."',
 'Ulta Beauty',
 'Union Pacific Corporation',
 'United Airlines Holdings',
 'United Parcel Service',
 'United Rentals',
 'UnitedHealth Group',
 'Universal Health Services',
 'VF Corporation',
 'Valero Energy',
 'Ventas',
 'Verisign',
 'Verisk',
 'Verizon',
 'Vertex Pharmaceuticals',
 'Viatris',
 'Vici Properties',
 'Visa Inc.',
 'Vulcan Materials Company',
 'W. W. Grainger',
 'WEC Energy Group',
 'Wabtec',
 'Walgreens Boots Alliance',
 'Walmart',
 'Warner Bros. Discovery',
 'Waste Management',
 'Waters Corporation',
 'Wells Fargo',
 'Welltower',
 'West Pharmaceutical Services',
 'WestRock',
 'Western Digital',
 'Weyerhaeuser',
 'Whirlpool Corporation',
 'Williams Companies',
 'Willis Towers Watson',
 'Wynn Resorts',
 'Xcel Energy',
 'Xylem Inc.',
 'Yum! Brands',
 'Zebra Technologies',
 'Zimmer Biomet',
 'Zions Bancorporation',
 'Zoetis',
 'eBay']

In [130]:
search = search.

AttributeError: 'list' object has no attribute 'to_csv'

## Feature Engineering